.bg {
  background-color: #222222;
}
body {
  font-family: 'Arial';
  color: #883344;
}
.wrapper {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.wrapper div {
  width: 30px;
  height: 30px;
  margin: 10px;
  float: left;
}
.wrapper h1 {
  margin: 10px;
  float: left;
}
.base-color {
  background-color: #883344;
}
.secondary-color {
  background-color: #555500;
}
.tertiary-color {
  background-color: #0000ff;
}
.bc-1 {
  background-color: #873344;
}
.bc-2 {
  background-color: #873344;
}
.bc-3 {
  background-color: #873344;
}
.bc-4 {
  background-color: #873344;
}
.sc-1 {
  background-color: #545400;
}
.sc-2 {
  background-color: #545400;
}
.sc-3 {
  background-color: #585800;
}
.sc-4 {
  background-color: #545400;
}
.tc-1 {
  background-color: #0000fe;
}
.tc-2 {
  background-color: #0000fe;
}
.tc-3 {
  background-color: #0000fe;
}
.tc-4 {
  background-color: #0000fe;
}
.g-1 {
  background-color: #ff0000;
}
.g-2 {
  background-color: #ff0000;
}
.g-3 {
  background-color: #ff0000;
}
.g-4 {
  background-color: #ff0000;
}
.g-5 {
  background-color: #ff0000;
}
.g-6 {
  background-color: #ff0000;
}
.g-7 {
  background-color: #ff0000;
}
.g-8 {
  background-color: #ff0000;
}
.g-9 {
  background-color: #ff0000;
}
.g-10 {
  background-color: #ff0000;
}
